<div class="project-header">
  <div>
    <div class="project-title">
      {{ "projects." + project.id + ".name" | translate }}
    </div>
    <div class="project-date">
      {{ project.dateFrom | date : "MM/yyyy" }}
      @if(project.dateTo){ - {{ project.dateTo | date : "MM/yyyy" }} }
      @if(project.inProgress){ - {{ "projects.now" | translate }}
      }
    </div>
  </div>

  <div>
    <span mat-dialog-close class="material-symbols-outlined button">
      close
    </span>
  </div>
</div>

<mat-dialog-content>
  @if(project.buttons){
  <div class="project-buttons">
    @for(button of project.buttons; track $index){
    <a matButton="filled" mat-flat-button [href]="button.url" target="_blank">{{
      button.text | translate
    }}</a>
    }
  </div>
  }

  <div class="images-container">
    @for(image of galleryItems(); track $index){
    <img
      [src]="image.data.thumb"
      alt="image"
      (click)="openInFullScreen($index)"
    />
    }
  </div>

  <app-tags [tags]="project.tags" [tagsTypes]="[TagType.projectType]" />

  <div
    class="project-description"
    [innerHTML]="'projects.' + project.id + '.description' | translate"
  ></div>

  <div class="technologies">
    {{ "projects.technologies" | translate }}
  </div>

  <app-tags
    [tags]="project.tags"
    [tagsTypes]="[
      TagType.language,
      TagType.framework,
      TagType.api,
      TagType.library,
      TagType.utility
    ]"
  />
</mat-dialog-content>
