<div class="project-header">
  <div>
    <div class="project-title">
      {{ project.name | translate }}
    </div>
    <div class="project-date">
      {{ project.dateFrom | date : "MM/yyyy" }}
      @if(project.dateTo){ - {{ project.dateTo | date : "MM/yyyy" }} }
      @if(project.inProgress){ - {{ "projects.now" | translate }}
      }
    </div>
  </div>

  <div>
    <mat-icon
      style="cursor: pointer"
      mat-dialog-close
      aria-hidden="false"
      fontIcon="close"
    ></mat-icon>
  </div>
</div>

<mat-dialog-content style="padding: 1rem 2rem 2rem 2rem">
  @if(project.buttons){
  <div class="project-buttons">
    @for(button of project.buttons; track $index){
    <button matButton mat-flat-button (click)="openUrl(button.url)">
      {{ button.text | translate }}
    </button>
    }
  </div>
  }

  <div class="images-container">
    @for(image of project.images; track $index){
    <div [lightbox]="$index" [gallery]="galleryId">
      <img [src]="image" alt="image" />
    </div>
    }
  </div>

  <div
    class="project-description"
    [innerHTML]="project.description | translate"
  ></div>

  <app-tags [tags]="project.tags" />
</mat-dialog-content>
