<div class="tags-container">
  @for (tag of filteredTags(); track $index) {
  <span
    class="tag"
    [ngClass]="{
      'tag-text-shadow': tag.background,
      'cursor-pointer': selectable(),
      'not-selected': selectedTags().length && !isSelected(tag.name)
    }"
    [ngStyle]="{
      background: tag.background ?? 'transparent',
      color: tag.color,
      borderColor: tag.border ?? 'transparent'
    }"
    [matTooltip]="tag.tooltip | translate"
    (click)="tagClicked(tag)"
  >
    {{ tag.name | translate }}
  </span>
  } @if(extraTagsAmount()){
  <span class="extra-tag"> +{{ extraTagsAmount() }} </span>
  }
</div>
