@if(filtersService.filteredProjects().length){
<app-timeline
  [ngStyle]="{ 'top.px': mainTop() }"
  class="timeline"
  [selectedYear]="selectedYear()"
  [max]="maxDate()"
  [min]="minDate()"
  [projects]="filtersService.filteredProjects()"
  (projectClicked)="openProject($event)"
  (yearSelected)="scrollToYear($event)"
/>
}

<div class="projects-container">
  @for (project of filtersService.filteredProjects(); track $index) {
  <div #projectElement class="project" (click)="openProject(project.id)">
    <div class="project-header">
      <div class="project-title font-size-3">
        {{ "projects." + project.id + ".name" | translate }}
      </div>
      <div class="project-date font-size-2">
        {{ project.dateFrom | date : "MM/yyyy" }}
        @if(project.dateTo){ - {{ project.dateTo | date : "MM/yyyy" }} }
        @if(project.inProgress){ - {{ "projects.now" | translate }}
        }
      </div>
    </div>
    <div>
      <img [src]="project.mainImage" alt="image" />
    </div>

    <app-tags [tags]="project.tags" [tagsTypes]="[TagType.projectType]" />

    <div
      class="project-description font-size-2"
      [innerHTML]="'projects.' + project.id + '.description' | translate"
    ></div>

    <app-tags
      [tags]="project.tags"
      [tagsTypes]="[TagType.language, TagType.framework]"
      [extraTagsAmount]="getProjectExtraTags(project).length"
    />
  </div>
  } @empty {
  <div class="bottom-info font-size-2">
    {{ "noProjectsInfo" | translate }}
  </div>
  }
</div>
