<div class="projects-container">
  @for (project of projects; track $index) {
  <div class="project" (click)="openDialog(project)">
    <div class="project-header">
      <div class="project-title">
        {{ project.name | translate }}
      </div>
      <div class="project-date">
        {{ project.dateFrom | date : "MM/yyyy" }}
        @if(project.dateTo){ - {{ project.dateTo | date : "MM/yyyy" }} }
        @if(project.inProgress){ - {{ "projects.now" | translate }}
        }
      </div>
    </div>
    <div>
      <img [src]="project.mainImage" alt="image" />
    </div>
    <div
      class="project-description"
      [innerHTML]="project.description | translate"
    ></div>

    <app-tags [tags]="project.tags" />
  </div>
  }
</div>
