@use "@angular/material" as mat;

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      typography: var(--primary-font),
      density: 0,
    )
  );
}

:root {
  @include mat.button-overrides(
    (
      filled-container-color: var(--primary-theme),
      filled-label-text-color: #1a1a1a,
    )
  );

  @include mat.dialog-overrides(
    (
      container-color: var(--color-2),
      supporting-text-color: var(--text-color),
      container-min-width: "60vw",
    )
  );

  @include mat.button-toggle-overrides(
    (
      background-color: #4d4d4d,
      selected-state-background-color: var(--primary-theme),
      selected-state-text-color: #1a1a1a,
      text-color: #e6e6e6,
    )
  );

  @media (max-width: 1920px) {
    @include mat.dialog-overrides(
      (
        container-min-width: "80vw",
      )
    );
  }

  @media (max-width: 1440px) {
    @include mat.dialog-overrides(
      (
        container-min-width: "90vw",
      )
    );
  }

  @include mat.tooltip-overrides(
    (
      container-color: #c7c7c7,
      supporting-text-color: #1a1a1a,
    )
  );

  @include mat.badge-overrides(
    (
      background-color: var(--primary-theme),
      text-color: #1a1a1a,
    )
  );
}

.mat-mdc-dialog-container {
  max-height: 95vh !important;
}

.mat-mdc-dialog-content {
  max-height: 100% !important;
}

mat-dialog-content {
  padding: 1rem 2rem 2rem 2rem;
}
