@use "@angular/material" as mat;

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      typography: var(--primary-font),
      density: 0,
    )
  );
}

:root {
  @include mat.button-overrides(
    (
      filled-container-color: var(--primary-theme),
      filled-label-text-color: var(--color-1),
    )
  );

  @include mat.dialog-overrides(
    (
      container-color: var(--color-2),
      supporting-text-color: var(--text-color),
      container-min-width: "60vw",
    )
  );

  @include mat.button-toggle-overrides(
    (
      background-color: #4d4d4d,
      selected-state-background-color: var(--primary-theme),
      selected-state-text-color: #1a1a1a,
      text-color: #e6e6e6,
    )
  );
}

.mat-mdc-dialog-content {
  max-height: 90vh !important;
}
