@use "@angular/material" as mat;

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      typography: var(--primary-font),
      density: 0,
    )
  );
}

:root {
  @include mat.button-overrides(
    (
      filled-container-color: var(--primary-theme),
      filled-label-text-color: var(--color-1),
    )
  );

  @include mat.dialog-overrides(
    (
      container-color: var(--color-2),
      supporting-text-color: var(--color-4),
    )
  );
}
