.g-backdrop {
  background-color: #000000ce !important;
}

lightbox {
  height: auto !important;
  width: auto !important;
  box-shadow: unset !important;

  gallery {
    background-color: unset !important;
  }
}

gallery-thumb {
  margin: 0.25rem;
}

.g-btn-close {
  padding: 0.5rem;
}
