:root {
  --color-1: #e6e6e6;
  --color-2: #dddddd;
  --color-3: #4d4d4d;

  --text-color: #2b2b2b;

  --primary-theme: #ffd60a;
  --secondary-theme: #fff475;

  --primary-font: Oswald, "Arial Narrow Bold", sans-serif;
}

.ion-palette-dark {
  --color-1: #1a1a1a;
  --color-2: #333333;
  --color-3: #4d4d4d;

  --text-color: #e6e6e6;
}
