.timeline {
  height: 100%;

  width: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-date {
    padding-left: 0.5rem;
    height: 100%;

    border-left: 2px solid var(--color-3);
    opacity: 0.5;

    transition: all 200ms ease-in-out;

    &.selected {
      opacity: 1 !important;
      border-left: 2px solid var(--primary-theme) !important;
    }
  }
}
