<div>
  <header role="banner" #headerContainer>
    <div class="header-title">{{ "header.title" | translate }}</div>

    <div class="header-items">
      <app-menu-items direction="row" />
    </div>

    <app-icon-button
      class="header-menu-button"
      icon="menu"
      ariaLabel="menu"
      (clicked)="toggleMenu()"
    />
  </header>

  <main id="main">
    <mat-sidenav-container>
      <mat-sidenav
        mode="over"
        [fixedInViewport]="true"
        position="end"
        [fixedTopGap]="headerContainer.scrollHeight"
        [(opened)]="menuOpened"
        (openedChange)="setScroll()"
      >
        <div class="sidenav-items">
          <app-menu-items direction="column-reverse" [showLabels]="true" />
        </div>
      </mat-sidenav>

      <mat-sidenav-content>
        <router-outlet />
        <app-top-button />
      </mat-sidenav-content>
    </mat-sidenav-container>
  </main>
</div>
