<div>
  <header role="banner">
    <div class="header-title">{{ "header.title" | translate }}</div>

    <!-- <span
      class="material-symbols-outlined button"
      [matBadge]="8"
      [matTooltip]="'header.tooltips.filter' | translate"
      (click)="openFilters()"
    >
      filter_alt
    </span> -->

    <span
      class="material-symbols-outlined button"
      [matTooltip]="'header.tooltips.theme' | translate"
      (click)="toggleTheme()"
    >
      {{ themeService.isDarkThemeSelected() ? "dark_mode" : "light_mode" }}
    </span>

    <div style="min-width: 80px">
      <mat-button-toggle-group
        [hideSingleSelectionIndicator]="true"
        [value]="languageService.selectedLanguage()"
        [matTooltip]="'header.tooltips.language' | translate"
        (valueChange)="languageService.setLanguage($event)"
      >
        @for (language of languages; track language.langKey) {
        <mat-button-toggle [value]="language.langKey">{{
          language.value
        }}</mat-button-toggle>
        }
      </mat-button-toggle-group>
    </div>
  </header>
  <main>
    <router-outlet />
  </main>
</div>
