<div class="filters-header">
  <app-filter-label
    label="filters.title"
    labelClass="font-size-3"
    buttonTooltip="filters.clearAllTooltip"
    [displayClearIcon]="!!filtersService.selectedFiltersAmount()"
    (clear)="filtersService.clearAllFilters()"
  />

  <div>
    <span mat-dialog-close class="material-symbols-outlined button">
      close
    </span>
  </div>
</div>

<mat-dialog-content>
  @for (filter of filtersService.getFilters(); track $index) {
  <app-filter-label
    [label]="filter.label"
    [displayClearIcon]="!!filter.selected().length"
    (clear)="filter.selected.set([])"
  />
  <app-tags
    [tags]="allTags"
    [tagsTypes]="[filter.type]"
    [selectable]="true"
    [(selectedTags)]="filter.selected"
  />
  }
</mat-dialog-content>
