.filters-header {
  display: flex;
  justify-content: space-between;

  margin: 2rem 1rem 0rem 1rem;

  div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

app-tags {
  display: block;
  padding-bottom: 1rem;
}

mat-dialog-content {
  app-filter-label {
    padding-bottom: 1rem;
    display: block;
  }
}
