.filters-header {
  display: flex;
  justify-content: space-between;

  margin: 2rem 2rem 0rem 2rem;

  div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

app-tags {
  display: block;
  padding-bottom: 1rem;
}
