html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: var(--color-1);
  font-family: var(--primary-font);
  color: var(--text-color);
}

lightbox {
  height: auto !important;
  width: auto !important;
}

.g-btn-close {
  padding: 0.5rem;
}

.mdc-button:hover,
.mat-button-toggle:hover {
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
  }
}
