html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: var(--color-1);
  font-family: var(--primary-font);
  color: var(--text-color);
}

lightbox {
  height: auto !important;
  width: auto !important;
}
